@model List<unclespace_ver3.Models.Product>
@{
    ViewBag.Title = "Index";
}

<!-- Модальное окно -->
<div id="aa" class="modal fade bd-addCategory" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding: 30px 30px 30px 30px">
            @Html.Partial("_ModalCategory", new unclespace_ver3.Models.Category())
        </div>
    </div>
</div>

<!-- Добавление товара -->
<div id="aa" class="modal fade bd-addProduct" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding: 30px 30px 30px 30px">
            @Html.Partial("_ModalProduct", new unclespace_ver3.Models.Product())
        </div>
    </div>
</div>

<!-- Удалить категорию -->
<div id="aa" class="modal fade delete-cat" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding: 30px 30px 30px 30px">
            @Html.Partial("_DeleteCategory", new unclespace_ver3.Models.Category())
        </div>
    </div>
</div>

<!-- Предупреждение -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding: 30px 30px 30px 30px">
            <h2>Вы действительно собираетесь удалить?</h2>
            <hr />
            <a id="delete-confirm" class="btn btn-primary">Удалить</a>
        </div>
    </div>
</div>

<h2>Панель администратора</h2>

<h3>Список пользователей</h3>

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th></th>
            <th>Категория</th>
        </tr>
    </thead>
    @foreach (unclespace_ver3.Models.Product product in Model)
    {
        <tbody>
            <tr>
                <th>@product.Id</th>
                <th>@product.Name</th>
                <th>@product.Title</th>
                <th>@product.Category.Name</th>
                
                <th><a class="openModal btn btn-primary" id=@product.Id>Удалить</a></th>
            </tr>
        </tbody>
    }
</table>

<div id="add"></div>

<button class="btn btn-primary" data-toggle="modal" data-target=".bd-addProduct">Добавить Товар</button>
<button class="btn btn-primary" data-toggle="modal" data-target=".bd-addCategory">Добавить Категорию</button>
<button class="btn btn-primary" data-toggle="modal" data-target=".delete-cat">Категории</button>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".openModal").click(function () {
                var id = $(this).attr('id');
                var addr = "../Admin/DeleteProduct/" + id;
                jQuery.noConflict();
                
                $("#deleteModal").modal("show");
                $('#delete-confirm').attr('href', addr);
            })
        })
    </script>

}